@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
:root {
  --font-family: "Noto Sans Mono", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #222;
  --primary-color: #fcfcfc;
  --secondary-color: #0a0;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
  background-color: #222;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

p {
    color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

h2 {
    color: var(--primary-color);
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--secondary-color);
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
    display: flex;
    gap: 1.9rem;
}
  
nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.intro img {
   padding-top: 20px;
    height: 60%;
    width: 60%;
}
  
.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
  
.bio h1 {
    margin-bottom: var(--bottom-margin);
}
  
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
  
.about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
  
.about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.skill-header {
    margin-bottom: 1rem;
}

.skills h2 {
    margin-bottom: var(--bottom-margin);
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #222;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
.project-pic {
    width: 75%;
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  
/* .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.project-container p {
    padding: 0.4rem;
  }
  
.project-title {
    margin-bottom: var(--bottom-margin);
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
  }
  
.project-details {
    margin-bottom: var(--bottom-margin);
  } */

  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    gap: 1rem; /* Adds space between items */
}

.project-container {
    flex: 0 1 30%; /* Flex-grow, Flex-shrink, Flex-basis */
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns children elements to the center horizontally */
}

.project-pic {
    width: 100px; /* Makes the image use full width of its parent */
    height: 100px; /* Keeps the aspect ratio of the image */
    display: block;
    margin-bottom: 1rem; /* Adds space below the image */
}

.project-details, .project-title {
    text-align: center; /* Centers the text */
}

.project-link {
    margin-top: auto; /* Pushes the link to the bottom of the container */
}

  
.project-card {
    background-color: #222;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    align-items: center;
  }

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
.socicon {
    width: 2rem;
    height: 2rem;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: var(--secondary-color);
}

